export(decumar)
export(process_file)
export(output_code)
export(texweave)
S3method(texweave, list)
S3method(texweave, character)
S3method(texweave, source)
S3method(texweave, warning)
S3method(texweave, message)
S3method(texweave, error)
S3method(texweave, recordedplot)
